@model IEnumerable<CodingSoldier.Models.StudyViewModel>

@{
    ViewBag.Title = "Studies - Boney Johns";
    var model = Model as IPagedList<CodingSoldier.Models.StudyViewModel>;
 }

<h3>Studies</h3>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@if (model != null)
{
    <div style="float:right">
        @using (Html.BeginForm("Search", "Studies", FormMethod.Post))
        {
            @Html.TextBox("title", "", new { placeholder = "enter the search text!" })
            <input type="submit" title="Search" value="Search" />
        }
    </div>
}


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
            <b>@Html.Raw(item.StudyHeader)</b>
            @if (User.IsInRole("Admin"))
            {
                <text>(</text>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <text>|</text>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this study?');" })
                <text>)</text>
            }
            <br />
            <i>Category: @item.CategoryName</i>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-12 col-sm-2">
            <pre>@Html.Raw(item.StudyContent)</pre>
        </div>
    </div>
    <div class="row" style="margin-top:5px">
    </div>
}


@if (model != null)
{
    <div id='Paging' style="text-align:center">
        Page @(model.PageCount < model.PageNumber ? 0 : model.PageNumber) of @(model.PageCount)

        @Html.PagedListPager(model, page => Url.Action("Index", new { page }))
    </div>
}

